
/* For screens below 400px */
@media (max-width: 400px) {
  .quiz ul li {
    flex: 1 1 100%; /* Stack options vertically */    
  }
  .quiz button {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
  }
  
}

h2,h1 {
  color: blue;
}
body{
    background-color:#99919b;
    margin: 0px;padding: 0px;
  }
  
  .quiz {
      margin: auto;
      margin-top: 50px;
      padding: 20px;
      background-color: #e7b35a;
      width: 80%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .quiz ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .quiz ul li {
      display: flex;
      flex: 1 1 calc(100% - 10px); /* 2 per row with spacing */
      padding: 10px;
      background-color: #ece7e6;
      border: 1px solid #694F8E;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      width: 100px;
    }
    
    .quiz ul li.selected {
      background-color: #6d9d80;
      color: rgb(9, 9, 9);
      font-weight: bold;
    }
    .quiz button {
      
      padding: 10px;
      width: 200px;
      border-radius: 15px;
      background-color: #b8b1b8;
      color: black;
      border: 1px solid black;
    }
   
    .quiz button:hover {
      background-color: aliceblue;
      border: 2px solid plum;
      cursor: pointer;
      padding: 12px;
    }
    .quiz button:disabled {
      background-color: aliceblue;
      border: 2px solid plum;
      cursor: no-drop;
  
    }
    

    .quiz ul li:hover {
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      background-color: #96e8d9;
      
      cursor: bold;
      
}